<!--ホームページ（HOME）-->


<!--成功文-->
<div class="notice">
<%= notice %>
</div>

<!--エラー文章部分-->
<% if @book.errors.any? %>
  <h2><%= @book.errors.count %>error</h2>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <!--マイページ表示部分-->
      <h1>User info</h1>
      <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", size:"60x60"%>
      <table class="table">
        <tr>
          <th>name</th>
          <th><%= @user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%= @user.introduction %></th>
        </tr>
        <tr>
          <th>follows</th>
          <th><%= link_to @user.follower.count, user_followlist_path(@user) %></th>
        </tr>
        <tr>
          <th>followers</th>
          <th><%= link_to @user.followed.count, user_followerlist_path(@user) %></th>
        </tr>
      </table>
      <button type="button" class="btn btn-default" aria-label="Left Align"><%= link_to '', edit_user_path(@user.id), class: "glyphicon glyphicon-wrench" %></button>
      <!--フォローボタン-->
      <% unless @user == current_user %>
        <% if current_user.following?(@user) %>
            <%= link_to 'フォロー外す', destroy_path(@user.id), method: :POST , class: "btn btn-info active"%>
        <% else %>
            <%= link_to 'フォローする', create_path(@user.id), method: :POST , class: "btn btn-info active" %>
        <% end %>
      <% end %>


      <!--投稿部分-->
      <h1>New book</h1>
      <%= form_with model:@book, url: books_path, local:true do |f| %>
        <h4>Title</h4>
        <%= f.text_field :title %>
        <h4>Opinion</h4>
        <%= f.text_area :body %>
        <%= f.submit 'Create Book', class: "btn btn-info active" %>
      <% end %>
    </div>


    <div class="col-xs-9">
      <!--一覧部分-->
      <h1>Books</h1>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>

        <tbody>
          <% @books.each do |book| %>
            <td>
              <%= link_to user_path(@user.id) do %>
                <%= attachment_image_tag @user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size:"50x50"%>
              <% end %>
            </td>
            <td><%=  link_to book.title, book_path(book.id) %></td>
            <td><%=  book.body %></td>
            <td><%= book.book_comments.count %>件コメント</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>