<!--詳細ページ-->

<div class="notice">
  <%= notice %>
</div>

<!--エラー文章部分-->
<div class="error">
    <% if @new.errors.any? %>
        <h2><%= @new.errors.count %>件のエラーが発生しました。</h2>
        <ul>
            <% @new.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    <% end %>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-3">
            <!--マイページ表示部分-->
            <h1>User info</h1>
            <%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", size:"60x60" %>
            <table class="table">
                <tr>
                    <th>name</th>
                    <th><%= @book.user.name %></th>
                    <th></th>
                </tr>
                <tr>
                    <th>introduction</th>
                    <th><%= @book.user.introduction %></th>
                    <th></th>
                </tr>
            <tr>
              <th>follows</th>
              <th><%= link_to @book.user.follower.count, user_followlist_path(@book.user) %></th>
            </tr>
            <tr>
              <th>followers</th>
              <th><%= link_to @book.user.followed.count, user_followerlist_path(@book.user) %></th>
            </tr>
            </table>
            <button type="button" class="btn btn-default" aria-label="Left Align"><%= link_to '', edit_user_path(@book.user.id), class: "glyphicon glyphicon-wrench" %></button>
            <!--フォローボタン-->
              <% unless @book.user == current_user %>
                <% if current_user.following?(@book.user) %>
                    <%= link_to 'フォロー外す', destroy_path(@book.user), method: :POST , class: "btn btn-info active"%>
                <% else %>
                    <%= link_to 'フォローする', create_path(@book.user), method: :POST , class: "btn btn-info active" %>
                <% end %>
              <% end %>

            <!--投稿部分-->
            <h1>New book</h1>
            <!-- form_with部分 -->
            <%= form_for (@new) do |f| %>
                <h4>Title</h4>
                <%= f.text_field :title %>
                <h4>Opinion</h4>
                <%= f.text_area :body %>
                <%= f.submit 'Create Book',  class: "btn btn-info active"  %>
            <% end %>
        </div>


        <div class="col-xs-9">
            <!--本の詳細部分-->
            <h1>Book detail</h1>
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <%= link_to user_path(@book.user.id) do %>
                                <%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", size:"60x60" %>
                                </br>
                                <%= @book.user.name %>
                            <% end %>
                        </td>
                        <td>
                            <!--タイトル-->
                            <p><%= link_to @book.title, book_path(@book.id) %></p>
                        </td>
                        <td>
                            <!--オピニオン-->
                            <p><%= @book.body %></p>
                        </td>
                        <td>
                            <div id="favorites_buttons_<%= @book.id %>">
                                <%= render partial: 'favorites/favorites', locals: { book: @book} %>
                         　 </div>
                        </td>
                        <!--コメント部分-->
                        <td>
                            <i class="fa fa-comment">コメント数：</i>
                            <a href="#comments"><%= @book.book_comments.count %></a>
                        </td>

                    <!--もしログインしてるユーザーと投稿した人が一致していたら表示できる-->
                    <% if @book.user == current_user %>

                        <td>
                         <%= link_to "Edit", edit_book_path(@book.id),  class: "btn btn-info active" %>
                        </td>
                 　  　　<td>
                　        <%= link_to "Destroy", book_path(@book.id), class: "btn btn-default", method: :delete, "data-confirm" => "本当に消しますか？?" %>
                　   　  </td>

                    <% end %>
                    </tr>
                </tbody>
            </table>

            <!--コメントの部分テンプレート-->
            <div id="book_comments_buttons_<%= @book.id %>">
                <%= render partial: 'book_comments/book_comments', locals: { book: @book, book_comment: @book_comment_new} %>
            </div>






        </div>
    </div>
</div>
