<!--詳細ページ-->

<div class="notice">
  <%= notice %>
</div>

<!--エラー文章部分-->
<div class="error">
    <% if @new.errors.any? %>
        <h2><%= @new.errors.count %>件のエラーが発生しました。</h2>
        <ul>
            <% @new.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    <% end %>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-3">
            <!--マイページ表示部分-->
            <h1>User info</h1>
            <%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
            <table class="table">
                <tr>
                    <th>name</th>
                    <th><%= @book.user.name %></th>
                    <th></th>
                </tr>
                <tr>
                    <th>introduction</th>
                    <th><%= @book.user.introduction %></th>
                    <th></th>
                </tr>
            </table>
            <button type="button" class="btn btn-default" aria-label="Left Align"><%= link_to '', edit_user_path(@book.user.id), class: "glyphicon glyphicon-wrench" %></button>

            <!--投稿部分-->
            <h1>New book</h1>
            <!-- form_with部分 -->
            <%= form_for (@new) do |f| %>
                <h4>Title</h4>
                <%= f.text_field :title %>
                <h4>Opinion</h4>
                <%= f.text_area :body %>
                <%= f.submit 'Create Book',  class: "btn btn-info active"  %>
            <% end %>
        </div>


        <div class="col-xs-9">
            <!--本の詳細部分-->
            <h1>Book detail</h1>
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <%= link_to user_path(@book.user.id) do %>
                                <%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", size:"60x60" %>
                                </br>
                                <%= @book.user.name %>
                            <% end %>
                        </td>
                        <td>
                            <!--タイトル-->
                            <p><%= link_to @book.title, book_path(@book.id) %></p>
                        </td>
                        <td>
                            <!--オピニオン-->
                            <p><%= @book.body %></p>
                        </td>

                        <!--いいね部分-->
                        <% if @book.favorited_by?(current_user) %>
                        <td>
                          <%= link_to book_favorites_path(@book), method: :delete do %>
                           <i class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></i>
                          <% end %>
                          <span><%= @book.favorites.count %>いいね</span>
                        </td>
                        <% else %>
                        <td>
                          <%= link_to book_favorites_path(@book), method: :post do %>
                           <i class="glyphicon glyphicon-heart-empty" style="color: red;"></i>
                          <% end %>
                          <span><%= @book.favorites.count %>いいね</span>
                        </td>
                        <% end %>
                        <!--コメント部分-->
                        <td>
                            <i class="fa fa-comment">コメント数：</i>
                            <a href="#comments"><%= @book.book_comments.count %></a>
                        </td>

                    <!--もしログインしてるユーザーと投稿した人が一致していたら表示できる-->
                    <% if @book.user == current_user %>

                        <td>
                         <%= link_to "Edit", edit_book_path(@book.id),  class: "btn btn-info active" %>
                        </td>
                 　  　　<td>
                　        <%= link_to "Destroy", book_path(@book.id), class: "btn btn-default", method: :delete, "data-confirm" => "本当に消しますか？?" %>
                　   　  </td>

                    <% end %>
                    </tr>
                </tbody>
            </table>
            <!--コメント件数の部分-->
            <div class="comment-list">
                <div class="float-wrapper">
                    <h2 class="comment-count"><%= @book.book_comments.count %>件コメント</h2>
                </div>
            </div>

            <table class="table">
                <tbody>
                    <!--コメント一覧部分-->
                    <% @book.book_comments.each do |book_comment| %>
                 <tr>
                       <td><%= attachment_image_tag book_comment.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size:"50x50" %></td>
                       <td><%= book_comment.comment %></td>
                       <td>
                           <% if book_comment.user == current_user %>
                           <%= link_to "Destroy", book_book_comment_path(book_comment.book,book_comment), method: :delete, class: "btn btn-danger pull-right" %>
                           <% end %>
                       </td>
                 </tr>
                    <% end %>
                </tbody>
            </table>
            
            
            <!--エラー文章部分-->
                <div class="error">
                    <% if @book_comment.errors.any? %>
                        <h2><%= @book_comment.errors.count %>件のエラーが発生しました。</h2>
                        <ul>
                            <% @book_comment.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                            <% end %>
                        </ul>
                    <% end %>
                </div>
                
                <!--コメントフォーム-->
                <%= form_with(model:[@book,@book_comment], local: true) do |f| %>
                    <%= f.text_area :comment, class: "form-control",placeholder: "ここへコメントを記入！！" %>
                    <%= f.submit "送信する！" %>
                <% end %>
                
                
         
        </div>
    </div>
</div>
